[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group Administrators
	label-Verified = -1..+1 group vcap-services_developers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Services Committers
	submit = group Services Committers
[access "^refs/heads/services-r.*"]
	label-Code-Review = -2..+1 group vcap-services_developers
	submit = group vcap-services_developers
[access "refs/heads/vblob"]
	label-Code-Review = -2..+2 group vblob_committers
[access "refs/tags/*"]
	pushTag = group Services Committers
